body {
	text-align: center;
}
#wrapper {
	display: inline-block;
	text-align: left;
	margin-top: 100px;
}
#header h1 {
	margin: 0px;
}
#wrapper-form {
	margin: 0px;
	padding: 5px 20px;
	border: 1px solid;
}
td, th {
	padding: 0px;
}
th {
	text-align: right;
	padding-right: 5px;
}
