body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: small;
}
table {
	border-collapse: collapse;
}
td, th {
	padding: 5px;
}
th {
	text-align: left;
	padding-right: 10px;
}
input[type=radio] {
	vertical-align: middle;
	margin: 0px 3px 0px 5px;
}
.error {
	font-weight: bold;
	font-size: 75%;
	color: red;
}
