#main-content {
	padding: 20px;
}
#width-1 {
	width: 25%;
}
#width-2 {
	width: 6%;
}
#width-3 {
	width: 15%;
}
#width-4 {
	width: 18%;
}
#width-5 {
	width: 23%;
}
#width-6 {
	width: 13%;
}
#recents-heading {
	border-bottom: 2px solid;
}
.section-heading {
	border-bottom: 1px solid gray;
	margin-bottom: 0px;
}
.section-body {
	text-align: center;
}
.section-body table {
	display: inline-block;
	text-align: left;
	margin-top: 20px;
	table-layout: fixed;
	width: 750px;
}
.section-body table th {
	padding: 5px;
}
.section-body table td {
	padding: 5px;
}
.middle-cell {
	border-left: 1px dashed;
	border-right: 1px dashed;
}
.nodata-message {
	color: red;
}
