#case {
	border: 1px solid;
}
#case-heading {
	padding-left: 20px;
	display: inline-block;
}
#case-forward {
	float: right;
	padding-right: 20px;
	margin-top: 18px;
}
#case-content {
	border-top: 1px solid;
	padding: 20px 20px 10px 20px;
}
#case-content table {
	table-layout: fixed;
	width: 500px;
}
#case-content th {
	text-align: right;
	vertical-align: top;
	width: 125px;
}
#case-content td {
	width: 375px;
	word-wrap: break-word;
}
#case-content table table {
	table-layout: fixed;
	width: 370px;
	border: 1px solid gray;
}
#case-content table table th {
	text-align: left;
	border-bottom: 1px solid gray;
}
#case-content th#width-1 {
	width: 23%;
}
#case-content th#width-2 {
	width: 55%;
}
#case-content th#width-3 {
	width: 22%;
}
#case-content th#width-4 {
	width: 40%;
}
#case-content th#width-5 {
	width: 20%;
}
#case-content th#width-6 {
	width: 20%;
}
#case-content th#width-7 {
	width: 20%;
}
#case-content th#width-8 {
	width: 70%;
}
#case-content th#width-9 {
	width: 30%;
}
#heading-results {
	background-color: #40A2D0;
}
#heading-treatments {
	background-color: #40A2D0;
}
#heading-files {
	background-color: #40A2D0;
}
.color-row {
	background-color: #DDDDDD;
}
.add {
	padding-left: 5px;
}
